<div class="header">
  <h1>Error</h1>
</div>
<div class="content">
  <h2 class="content-subhead">존재하지 않는 유저입니다</h2>
  <p>존재하지 않는 유저로 로그인하거나, 존재하지 않는 유저의 status를 보려고 할 때 발생합니다.</p>
  <p>존재하는 유저의 경우에도 맞힌 문제가 없는 경우 DB에 등록되지 않습니다. 이럴 때는 아무 문제나 "맞았습니다!!"를 받은 후 기다려 주세요. 새 유저가 DB에 등록되기까지는 몇 분 정도의 시간이 걸립니다.</p>
  <p>위 경우에 모두 해당되지 않는다면 <a href="https://github.com/operatz/koosa.ga/issues">Github Issues</a>에 제보해주시면 감사하겠습니다.</p>
</div>
